$bgColor: white;
$darkColor: #3f3f3f;
$border: #a7a7a7;

.historyText {
  color: $darkColor;
  text-align: center;
}

#history {
  margin: 0 auto;
  border: 1px solid $border;
  border-radius: 5px;
  background-color: $bgColor;
  height: 300px;
  width: 80vw;
  margin-top: 11px;
  margin-bottom: 10px;
  overflow-y: scroll;
}